body{
    color: brown;
    background-color:antiquewhite;
}
.Content{
    background-color:blueviolet;
    color: black;
    height: 100px;
    width: 100px;
    margin-inline-start: auto;
}
.Box{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: aquamarine;
    border: 1px solid black;
    margin: 5px;
    cursor: pointer;
    box-shadow: firebrick;

}




